*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #a1dbab;
}
.bg {
    position: relative;
    width: 70%;
    height: 80%;
    background-color: #f0f8ff;
    border: 2px solid #316139;
    border-radius: 10px;
    overflow: hidden;
}
.scoreboard{
    display: flex;
    background-color:#589963 ;
    height: 15%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 10%;
}
.topelts{
    display: flex;
    color: white;
    font-size: 18px;
    gap: 16px;
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #316139;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    color: #589963;
}
.game-area {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.bubble{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #589963;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
}
.bubble:hover{
    cursor: pointer;
    background-color: #4e8b58;
}
.game-over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#589963;
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.restart{
    margin-top: 20px;
    font-size: 18px;
    color: #316139;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    border: none;
}